<div class="sidebar-left-content nano-content">

    <!-- Start: Sidebar Menu -->
    <ul class="nav sidebar-menu">
        <li class="sidebar-label pt20">Menu</li>
        <li>
            <a href="#">
                <span class="fa fa-calendar"></span>
                <span class="sidebar-title">Main</span>
              <span class="sidebar-title-tray">
                <span class="label label-xs bg-primary">New</span>
              </span>
            </a>
        </li>
    </ul>
    <!-- End: Sidebar Menu -->
</div>